# Reconciliation
This program imports an excel data file, then checks to see if the 'Actual' amount listed matches the 'Recorded' amount. If the values do not match, the program pulls that information and stores it into a separate file.

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=Warning)
import pandas as pd
pd.reset_option('all')

html.border has been deprecated, use display.html.border instead
(currently both are identical)


: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

In [2]:
df = pd.read_csv('C:\\Users\don\Documents\Reconilation.csv')

In [3]:
df.head()

          Merchant    Recorded      Actual  Account       Date  Difference
0  Bank of America  $7,968.00     $566.00      1966   7/3/2019  $7,402.00
1   Dulcan Storage  $6,730.00     $543.00      1966  3/15/2019  $6,187.00
2         Facebook  $9,677.00   $9,677.00      2643  3/20/2019      $0.00
3         Best Buy  $9,517.00   $9,517.00      2643  2/15/2019      $0.00
4               BP    $953.00     $953.00      1966  3/14/2019      $0.00

In [4]:
df = df.loc[df.Recorded != df.Actual]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 293
Data columns (total 6 columns):
Merchant      18 non-null object
Recorded      18 non-null object
Actual        18 non-null object
Account       18 non-null int64
Date          18 non-null object
Difference    18 non-null object
dtypes: int64(1), object(5)
memory usage: 1008.0+ bytes

In [6]:
df1 =  df

In [7]:
df1['Recorded'] = df['Recorded'].str.replace('$','')
df1['Recorded'] = df['Recorded'].str.replace(',','')
df1['Recorded'] = df1['Recorded'].astype(float)

In [8]:
df1['Actual'] = df['Actual'].str.replace('$','')
df1['Actual'] = df['Actual'].str.replace(',','')
df1['Actual'] = df1['Actual'].astype(float)

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 293
Data columns (total 6 columns):
Merchant      18 non-null object
Recorded      18 non-null float64
Actual        18 non-null float64
Account       18 non-null int64
Date          18 non-null object
Difference    18 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 1008.0+ bytes

In [10]:
df1['Difference'] = df1['Recorded'] - df1['Actual']

In [11]:
df1.head()

           Merchant  Recorded  Actual  Account        Date  Difference
0   Bank of America    7968.0   566.0     1966    7/3/2019      7402.0
1    Dulcan Storage    6730.0   543.0     1966   3/15/2019      6187.0
16  Bank of America    1486.0  4564.0     1966  11/29/2019     -3078.0
22  Bank of America    7272.0  4985.0     1966  10/11/2019      2287.0
28         Best Buy    9000.0  6698.0     2643   1/22/2019      2302.0

In [12]:
export_csv = df.to_csv (r'C:\Users\Don\Desktop\export_dataframe.csv', index = None, header=True)